[2016-05-21 02:01] fariz0020 opened #2 "Err: cannot find module 'express'"
Excuse me, niqdev & other developers,

I have an issue like this, after, execute node dev/server.js

![capture](https://cloud.githubusercontent.com/assets/15624898/15445795/ddb86b34-1f31-11e6-8094-e5cfb58f7d1b.JPG)

this is my prod.cfg

[code]

also i want to ask, where should i put my packtpub's username and password ?

thank you very much for share this crawler,
i'm sure it will be great for eve

[2016-05-21 08:45] niqdev commented on #2
Hi,
I'm glad you appreciate it, but `node dev/server.js` is meant for another purpose i.e. only helping in development.

I'll make it clear for everybody, so if you want to claim and download your free eBook you should
* clone the repo (https or ssh) `git clone https://github.com/niqdev/packtpub-crawler.git`
* create a config file with your own credentials:
[code]
and at least you should change
[c

[2016-05-22 05:42] fariz0020 commented on #2
thank you very much for your answer

i already install pyhon and google-api-python-client lib

then i execute` python script/spider.py -c config/prod.cfg`
![capture2](https://cloud.githubusercontent.com/assets/15624898/15452497/6ba42cec-201a-11e6-9fef-b9ca0d061dd6.JPG)

[2016-05-22 13:10] niqdev commented on #2
Which Python version are you currently using? From [docs](https://docs.python.org/3.0/whatsnew/3.0.html) `print` has a different signature in version 3.x

[2016-05-22 14:24] fariz0020 commented on #2
I currently using python version 3.5.1

On Sun, May 22, 2016 at 8:10 PM, niqdev <notifications@github.com> wrote:

[2016-05-22 17:22] niqdev commented on #2
So have you tried to install v2.x? Let me know if it works. Thanks

[2016-05-22 19:59] fariz0020 commented on #2
I do what you said mr.niqdev

but there still error,

![capture3](https://cloud.githubusercontent.com/assets/15624898/15456164/51206408-2092-11e6-9c3d-75405e0086a4.JPG)

[2016-05-23 05:01] niqdev commented on #2
Looks better!
I think you are missing some dependencies... [python-magic](https://github.com/ahupp/python-magic#installation)
Try with `pip install python-magic`, do the same with other libs if you have other `ImportError`

[2016-05-24 17:36] niqdev commented on #2
@fariz0020 I've updated the README, I think should be more clear now.
Can you tell me if it works, please? So I can close the issue.
Thanks

[2016-05-26 13:28] fariz0020 commented on #2
After i install python-magic, i still met with error here, mr.niqdev

![capture4](https://cloud.githubusercontent.com/assets/15624898/15575825/0adb4b30-237f-11e6-9c41-df90d706ba67.JPG)

[2016-05-26 16:08] niqdev commented on #2
I'm sorry that you are having so many errors, but [googling](https://www.google.it/search?q=windows+error+193+is+not+a+valid+win32+application) it seems that python or some libs you have installed are 64bit while are expected to be 32bit or viceversa. Have a look at that!

[2016-05-28 22:00] fariz0020 commented on #2
Its okay, may this issue can help the others,
Mr. niqdev, there something weird occured,
![capture5-1](https://cloud.githubusercontent.com/assets/15624898/15630209/2ba0ce30-255a-11e6-9679-c27a601e2167.JPG)
![capture5-2](https://cloud.githubusercontent.com/assets/15624898/15630216/38e733cc-255a-11e6-90cc-3a8083659ca8.JPG)

[2016-05-29 08:56] niqdev commented on #2
Hi, the error about `html5lib` is already fixed, just pull the last version from the repo!

[2016-05-31 14:14] alexgv99 opened #3 "Not working since 2016 May 14"
I just cloned, correct the prod.cfg with my data and try to run... if fails like the lines below.

[Tue 31/May 10:52] alexgv@PROC-PE0ZW ~/workspace/packtpub-crawler $ python script/spider.py --config config/prod.cfg

         __             __         __           __           __    __        __
        /\ \     __    /\ \       /\ \         /\ \         /\ \  /\ \    _ / /\
       /  \ \   /\_\

[2016-05-31 17:01] niqdev commented on #3
Hi,
This error `Max retries exceeded` looks like a network error.
something in your network is changed? a proxy or a firewall? do you have a static ip?

[2016-06-01 22:00] alexgv99 commented on #3
It seams ok... here a curl connecting to the proper url:

[Tue 31/May 10:52] alexgv@PROC-PE0ZW ~/workspace/packtpub-crawler $ curl -# -v https://www.packtpub.com/packt/offers/free-learning > output.txt
* Hostname was NOT found in DNS cache
*   Trying 127.0.0.1...
* Connected to 127.0.0.1 (127.0.0.1) port 3128 (#0)
* Establish HTTP proxy tunnel to www.packtpub.com:443

< HTTP/1.0 200 Connection est

[2016-06-02 09:06] niqdev commented on #3
:disappointed_relieved: I've just verified and everything works fine for me, maybe this is due to a libraries that you upgraded?
I have also upgraded my `requests` version from 2.7.0 to 2.10.0 and still work.

Do you have the possibility to run the script in another environment/machine just to understand if is only your problem or not? If I can't reproduce the error I don't know how to help you, s

[2016-06-04 05:49] fariz0020 commented on #2
Thank you very much mr.niqdev.
It's already worked,
I will close this issue,

but there a little trouble here when i execute this command
`
python script/spider.py --config config/prod.cfg --all --extras --upload drive
`
it cant upload the files after download completed.

[2016-06-04 05:49] #2 closed

[2016-06-04 15:40] niqdev commented on #2
I'm happy about that, finally we did it!
Which kind of error do you have? Did you follow all the instructions in the README? If you need help please open another issue regarding the problem.
Thanks

[2016-06-09 07:19] bartsimp opened #4 "ip_address()"
Hi, why do you need to get the current ip?

thanks for your work!

[2016-06-09 07:50] niqdev commented on #4
Hi, thanks for the interest. It was only for debugging purpose.
In the latest version at [line 36](https://github.com/niqdev/packtpub-crawler/blob/master/script/spider.py) is commented.

[2016-06-09 09:45] #4 closed

[2016-06-09 18:23] niqdev commented on #3
Hi @alexgv99, do you still have the problem? Can I help you somehow? Otherwise I will close the issue.
Thanks

[2016-06-09 18:26] niqdev opened #5 "Add Heroku Scheduler support"
I would like to schedule the crawler every day on [heroku](https://devcenter.heroku.com/articles/clock-processes-python)

[2016-06-10 04:07] alexgv99 commented on #3
Yes, I do have the same problem yet, but as I can't test anywhere else, I
mean, I tried at home, but in my house is Windows, not Linux, and I
couldn't configure the environment to run it... so I dropped... Go ahead
and close the thread... Thank you anyway for trying to help me.

Cordialmente.
Alex Gouvêa Vasconcelos
mailto:alexgv99@gmail.com
MSN: alexgv99@hotmail.com
http://about.me/alexgv99

2016

[2016-06-10 06:33] niqdev commented on #3
If it can help you can have a look at [this](https://github.com/niqdev/packtpub-crawler/issues/2) on windows otherwise maybe wait for [this](https://github.com/niqdev/packtpub-crawler/issues/5).
Thanks

[2016-06-10 06:33] #3 closed

[2016-06-11 10:00] windhamwong opened #6 "Google Drive folder support"
Hello, I love your script and I would like to ask for an extra feature!
Putting files into a folder on Google Drive would be much better and tidier.
Here is the reference of the Python code:
https://developers.google.com/drive/v3/web/folder#creating_a_folder

If you have no time to do it and you don't mind me to make a pull request, I am happy to help.

[2016-06-11 17:07] niqdev commented on #6
I'm glad you like it! Yes sure, if you want to make a pull request you are welcome!
I like the idea, I didn't think about it because I have a dedicated account just for this, but it's a good enhancement.
The only thing that I can suggest is to add the name/path of the directory in the config file with a default like `packtpub`, so every body can choose the name that prefer and automatically create

[2016-06-12 09:06] windhamwong commented on #6
Added pull request.
https://github.com/niqdev/packtpub-crawler/pull/7

[2016-06-12 09:06] #6 closed

[2016-06-12 09:14] niqdev commented on #6
It works like a charm! Thank you!

[2016-06-12 09:16] windhamwong opened #8 "cron suggestion"
I don't think adding cron feature onto the script is a good idea.
However, if you can have a guide for adding a line on crontab to run it every day in README.MD, it would be better so it won't make the script heavy loaded.
What I have used in crontab is:
`0 9 * * * python /home/<username>/packtpub_crawler/script/spider.py --config /home/<username>/packtpub_crawler/config/prod.cfg --all --extras --

[2016-06-12 09:24] niqdev commented on #8
Great! I will add this option also in the README.md for sure.
I'm working now on another branch, I don't have a dedicated server and I don't wont run this locally, so I'm configuring a [scheduler on Heroku](https://github.com/niqdev/packtpub-crawler/issues/5), it's free if you don't exceed the free dynos

[2016-06-12 10:10] windhamwong commented on #8
I never use it before, I will have a look on it.

[2016-06-14 11:05] niqdev commented on #5
Added support for Heroku: [docs](https://github.com/niqdev/packtpub-crawler#heroku-setup)

[2016-06-14 11:05] #5 closed

[2016-06-14 11:08] niqdev commented on #8
@windhamwong I've added support for [heroku](https://github.com/niqdev/packtpub-crawler#heroku-setup). Please let me know if is clear and helpful. I will add soon in the Readme the `cron` example or if you want make a pull request with a step-by-step tested config, you are welcome!

[2016-06-28 08:07] windhamwong opened #9 "SCP upload feature or other upload method"
The script is cron running for 17 days now. The Un!ty books have large zip files and they are filling up my drive. Looks like we do need alternative method to do the upload. SCP would be great I think? Or should we make a feature of running script every time it finished download?

[2016-06-28 08:08] niqdev commented on #8
Sorry I'm very busy in this period, I will update the readme soon. Did you try the heroku cron?

[2016-06-28 12:06] niqdev commented on #8
I will reopen this issue just as reminder!

[2016-06-28 12:07] niqdev commented on #9
Hi,
if you need this feature I would suggest to add in [spider.py](https://github.com/niqdev/packtpub-crawler/blob/master/script/spider.py) and [upload.py](https://github.com/niqdev/packtpub-crawler/blob/master/script/upload.py) another service like `SERVICE_SCP`

[code]

and than I think we could use
* [Pexpect](https://pexpect.readthedocs.io/en/stable/index.html) or his brother pxssh
* [paramiko

[2016-06-28 12:55] windhamwong commented on #9
Not sure which library is the best but I think i will try on them later. I will try to commit it before my drive is using up (within 2weeks i believe).

[2016-07-01 06:43] windhamwong commented on #8
Oh I thought you have finished deployment. I am not so interested with the heroku sry

[2016-07-01 06:44] windhamwong opened #10 "Picture of the book is not fetched sometimes"
Not sure why, but i see some of the pictures are not there. Maybe it is an upload issue on Google Drive API or download issue.
Shall we have some logs supported?

[2016-07-01 07:23] niqdev commented on #10
Hi,
can you verify the date of the corresponding book uploaded? I fix the missing picture [1 month ago](https://github.com/niqdev/packtpub-crawler/commit/925fda8d759442ffe2bb17dafce147049f8ca209), maybe is the same problem.
Thanks

[2016-07-01 07:38] niqdev commented on #10
Anyway I think is a good idea, we could add a `--log=output.log` param and concat all the stdout on a file. What do you think?

[2016-07-04 09:10] windhamwong commented on #10
Great! So it can append the log files every time :D

[2016-07-21 07:28] windhamwong commented on #10
I will leave this for while, since I am not sure of which logging method should I write into.

[2016-07-21 07:35] niqdev commented on #10
No problem, sorry but I'm very busy in this period so I will have look later too.

[2016-07-29 13:12] niqdev opened #11 "MIT License"
Change License from Creative Commons to MIT

Use this [template](http://choosealicense.com/licenses/mit/)

[2016-08-07 04:46] niqdev commented on #11
Changed license in this [commit](https://github.com/niqdev/packtpub-crawler/commit/0c475972d28ed2e8bfdff8eaed37f830737f2103)

[2016-08-07 04:46] #11 closed

[2016-08-10 00:47] mkmcconnell opened #12 "Google Drive upload not working"
Hello,

Firstly, thank you for writing this script!  I got the spider.py working to the point where it attempts to upload to my Google Drive.  However, I don't believe the script ever prompted me via web browser to generate an auth_token.json.  Here's the backtrace (occurs after successful download of .pdf) --

[-] <type 'exceptions.AttributeError'> 'module' object has no attribute 'from_file' | s

[2016-08-10 08:34] niqdev commented on #12
Hi,
thanks. So just to be sure can you tell me which command did you run and confirm me that you config your Drive account exactly how is written in the readme (i.e. folder paths, Drive Api, client_secrets, ...) and you have read/write/execute permissions on your project root directory? Do you have chrome installed? I'm asking you this because it should be pretty straightforward and it should simp

[2016-08-10 17:39] niqdev commented on #12
I just checked now, so mime_type should be for example `application/pdf`, but I would suggest to verify first of all if you have [python-magic](https://github.com/ahupp/python-magic) installed.
If this is the problem I will update also `requirements.txt`.
Thanks

[2016-08-11 10:51] windhamwong opened #14 "New login issue"
Looks like the login page has changed. My pull request added form id and thing however it is still not working. Do you have any idea?

[2016-08-11 15:02] niqdev commented on #14
Hi,
a couple of days ago stopped working and I already fix it adding the missing headers with this [commit](https://github.com/niqdev/packtpub-crawler/commit/9177410bf2f639c8caf7d7276de33ff313e46870).
Can you check if is the same issue?

[2016-08-12 15:12] niqdev commented on #12
@mkmcconnell do you still have the error or did you manage to make it work?
Thanks

[2016-08-12 16:37] mkmcconnell commented on #12
Hi Niq,

Apologies for the delay in reply to your last message… work got in the way ☹

I did have python-magic installed and just in case, I did an upgrade of the module using ‘pip’.  I’m currently at version 0.4.12 --

Metadata-Version: 2.0
Name: python-magic
Version: 0.4.12
Summary: File type identification using libmagic
Home-page: http://github.com/ahupp/python-magic
Author: Adam Hupp
Author-e

[2016-08-12 16:53] niqdev commented on #12
My current version is `0.4.11`, so let's do a quirk to understand if the problem is this library or something else.
I didn't test it but try to substitute line 28
`'mime_type': magic.from_file(file_path, mime=True)`
with
`'mime_type': 'application/pdf'`
and tell me if it works running `python script/spider.py -c config/prod.cfg -u drive`

[2016-08-12 17:44] mkmcconnell commented on #12
Good news -- that worked.  I got past the mime_type error and Chrome launched a browser window with the authentication token.  I copied and pasted that into the script prompt, and now it appears that the script is having a problem with the path I specified in my Drive:

[+] new credentials saved
[+] uploading file...
-Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lo

[2016-08-12 18:23] niqdev commented on #12
Umh... I suspect both errors are related to your path `"File not found: E-books/Packt"... check that it exists and is correct or maybe `-` is the cause, it seems stupid but investigate this.

[2016-08-16 05:36] niqdev commented on #12
@mkmcconnell did you check if the problem was the path or something else?
Thanks

[2016-08-16 05:37] niqdev commented on #14
@windhamwong Do you still have the error or is working now?
Thanks

[2016-08-16 18:53] mkmcconnell commented on #12
Hi @niqdev,
I was able to overcome the file upload path issue -- I continued to use the modified drive.py (with explicit ‘application/pdf’ instead of file_path) and changed my config file back to the default settings for drive folders:

drive.default_folder=packtpub
#drive.upload_folder=E-books   (<--commented this out)

Upon script execution, this created a folder called ‘packtpub’ in the root of

[2016-08-16 20:10] niqdev commented on #12
Yep @mkmcconnell ,
path name could be better, but was changed later
[code]
so if I understood correctly Drive is configured and working fine now, the problem is on the downloaded file,  right?

I just checked the pdf of today and past days and everything looks fine for me. I don't understand why you have problem with python-magic, but probably the problem is related to that.
So, if you need any he

[2016-08-16 20:25] mkmcconnell commented on #12
Yeah that’s what I’m thinking too… I’ll try running the script from a different box and see if the issue persists.  Thanks for the help.

From: niqdev <notifications@github.com>
Reply-To: niqdev/packtpub-crawler <reply@reply.github.com>
Date: Tuesday, August 16, 2016 at 1:10 PM
To: niqdev/packtpub-crawler <packtpub-crawler@noreply.github.com>
Cc: Michael McConnell <mmcconnell@juniper.net>, Mention

[2016-08-16 21:07] niqdev commented on #12
No problem, if you need any help just reopen this issue or open another one.
If you have any improvement your are welcome to contribute!
Thanks

[2016-09-08 14:46] bunam opened #15 "content-length not in header make spyder fail"
Sometimes there is no content-length, i didn't know python.
It could be nice if the download is done even without progress bar

`Traceback (most recent call last):
  File "script/spider.py", line 44, in main
    packpub.download_ebooks(types)
  File "/Users/Shared/bin/packtpub-crawler/script/packtpub.py", line 129, in download_ebooks
    download_file(self.__session, download['url'], directory, do

[2016-09-09 21:56] niqdev commented on #15
Hi,
please update to the latest version, until now I had no errors in the last weeks.
If happen again please give me more details on the command that you are running and C&P th complete stacktrace so that I will be able to reproduce the error.
If it happen again please reopen the issue.
Thanks

[2016-09-09 21:56] #15 closed

[2016-09-09 21:57] niqdev commented on #14
@windhamwong since I've received no answer I will close the issue

[2016-09-09 21:57] #14 closed

[2016-10-12 21:47] niqdev opened #17 "Store data on Firebase"
Use [this](https://github.com/ozgur/python-firebase) library

[2016-10-12 22:01] niqdev opened #18 "Docker support"
Create docker image based on busybox

[2016-10-19 21:56] niqdev commented on #17
Version 1.2.0 adds this feature

[2016-10-19 21:56] #17 closed

[2016-11-20 17:20] niqdev commented on #18
#19

[2016-11-20 17:47] niqdev commented on #18
Thanks @kuchy

[2016-11-21 07:40] niqdev commented on #18
@kuchy I had a thought on your implementation and I think it works only locally, while I would like that the docker config emulates what the heroku scheduler does to be useful. Here my suggestions:
* no docker-compose needed
* copy config, script and requirements.txt inside the container
* add .dockerignore with the list of all unnecessary files
* add a script with the user schedule preferences li

[2016-11-21 14:18] kuchy commented on #18
If you will copy config in docker file, build it and push to docker hub, everyone who pull this image will had same config in that container :), so config shout be in host system and mounted.

I'am realy not famliar with heroku, my purpuse was to run single command (by crontab) on RPI with docker installed to save book in nfs storage. But I will check scheduler and other suggestions...

[2016-11-21 21:14] niqdev commented on #18
You are right about the config, would be a good idea or feasible to pass an environment variable like `$CONFIG_PATH` instead?
RPI stands for Raspberry Pi ? Cool :wink:

[2016-11-22 07:57] kuchy commented on #18
Yes, RPI stands for Raspberry Pi. `$CONFIG_PATH ` is ok but, i rather mount whole `config` folder.

[2016-11-25 23:14] niqdev opened #20 "Telegram bot"
Use [python-telegram-bot](https://github.com/python-telegram-bot/python-telegram-bot)

[2016-11-25 23:16] niqdev opened #21 "Slack bot"

[2016-11-27 15:37] Mehran opened #22 "Subscribe to download ebook"
i have subscribe account on packtpub i just can read all books online , now can i download books with this way ?

[2016-11-27 15:55] niqdev commented on #22
Hi,
sorry I don't know if I understood correctly the question. Would you like to download books that you have  already in your account?
The idea of this project is that once you have configured everything you forget about it and every day you will receive an email with the link of the ebook uploaded on google drive.

[2016-11-27 16:03] niqdev opened #23 "Download all subscribed ebook"
An improvement would be to backup and download all old subscribed ebook not yet uploaded to drive and stored to firebase

[2016-11-27 16:26] Mehran commented on #22
Thanks . on my account i just can read all ebooks Online  , but  i cant download .

[2016-11-27 16:36] niqdev commented on #22
So I've opened another [issue](https://github.com/niqdev/packtpub-crawler/issues/23) to backup all old subscribed ebook at once. But at the moment is not supported.
I will close this issue, but if you have any other idea or you need help feel free to re-open it.

[2016-11-27 16:36] #22 closed

[2016-11-28 14:19] Mehran opened #24 "upload issue"
i use ubuntu 16.04 server and no any gui , how can i do with this ?

`Only the first time you will be prompted to login in a browser which has javascript enabled`

i dont have any browser on my server .

[2016-11-28 15:52] Mehran commented on #23
when i login to my account i can Read online ebooks but cant download them , as i see every title have a specific url . example `https://www.packtpub.com/mapt/book/Virtualization%20&%20Cloud/9781786466396/2/ch02lvl1sec27/Hardware-accelerated+graphics+for+Horizon+View `

i can Print to PDF and save it , but must do it manual for all . Can help to make this process automatically ?

[2016-11-28 21:04] niqdev commented on #24
I know that is a bit annoying but unfortunately that's google api, unless they change it lately, so I suggest to run it the first time on your local machine and then upload the configurations on the server with scp for example.

[2016-11-28 21:04] #24 closed

[2016-11-28 21:23] niqdev commented on #23
Hi @feeeper, I saw that several months ago you added in the forked repo this [feature](https://github.com/feeeper/packtpub-crawler/commit/edbc1fdeacee446e3c7286935c1f652217018e1d).
Would you be interested in add this feature to the project?
I'll be happy to merge any pull request

[2016-11-28 23:05] niqdev commented on #18
I've updated the Dockerfile and the readme, let me know what do you think about it and if you have any improvement to add. Thanks

[2016-11-28 23:07] niqdev commented on #18
By the way, there is no need to add cron, APScheduler does already everything for us!

[2016-11-29 07:35] kuchy commented on #18
APScheduler is alternative but docker can run your cron as native, as I understand this is solution only for heroku enviroment. I done some experiments (https://hub.docker.com/r/kuchy/packtpub-crawler/), i will publish that in my fork today/tomorrow.

[2016-11-29 09:12] niqdev commented on #18
Great, when you finish let me know, so I will reference your implementation in the readme as an alternative

[2016-11-29 09:31] kuchy commented on #18
Best soulution will be create different entrypoint for ussage on heroku cron (your's command), and 2 next for: run docker cron / run single command (this i have in 80%).

[2016-11-29 09:35] niqdev commented on #18
Umh, I think there is a bit of confusion, Dockerfile is completely independent from heroku setup, is an alternative. I simply reused the same scheduler instead of having a different implementation with cron

[2016-11-29 09:37] kuchy commented on #18
Ouch, maybe i check.....

[2016-12-04 11:27] niqdev commented on #9
Thanks @kuchy I've update also the readme

[2016-12-04 11:27] #9 closed

[2016-12-05 23:33] niqdev commented on #18
Can I close the issue?
If you want reference your image just add in the [readme](https://github.com/niqdev/packtpub-crawler#docker) a comment like "alternative docker image and the link" with any comment if needed

[2016-12-06 07:30] kuchy commented on #18
In my fork I have implementation (but forgot to push Dockerfile :D) that uses standard unix cron, bur Ithink that your implementation is easier to use.
image published: https://hub.docker.com/r/kuchy/packtpub-crawler/
docker-compose: https://github.com/kuchy/packtpub-crawler/blob/docker_cron/docker-compose.yml
If you like add reference...

[2016-12-06 20:00] niqdev commented on #18
I've updated the readme!

[2016-12-06 20:00] #18 closed

[2016-12-14 21:06] frederikkunze opened #33 "libmagic"
I get following error on windows.
I did `pip install -r requirements.txt` before but it seems to not resolve all requirements.
  File "C:\Python27\lib\site-packages\magic.py", line 171, in <module>
    raise ImportError('failed to find libmagic.  Check your installation')
ImportError: failed to find libmagic.  Check your installation

[2016-12-14 21:35] juzim commented on #33
What OS do you use? On Windows, you can give [this]( http://stackoverflow.com/questions/24816887/python-magic-unable-to-find-libmagic) a try since there seem to be lots of cygwin related issues with libmagic.

[2016-12-14 23:13] niqdev commented on #33
Hi, I google it a bit and as @juzim said, seems to be a problem related to windows.
If you don't have any constraint, I would suggest to use the docker image, just follow the readme.
Honestly I can't do much on this, feel free to reopen the issue if you have any other doubt or you find a solution that can help other people

[2016-12-14 23:13] #33 closed

[2016-12-15 10:15] juzim opened #34 "Check if there is a free book today"
Today packtpub has a different free offer and no ebook.

We should check if the correct heading/button exists on https://www.packtpub.com/packt/offers/free-learning to prevent confusing error messages.
I'm not sure if we should still send out error notifications or just log and skip it.

[2016-12-15 20:37] niqdev commented on #34
The error is this?

[code]

[2016-12-15 20:38] #8 closed

[2016-12-16 08:01] juzim commented on #34
There is a toaster message saying that there won't be any more free ebooks in 2016.

[2016-12-16 20:11] niqdev commented on #34
Hopefully..without any breaking changes!

[2016-12-16 22:46] niqdev opened #37 "More free ebooks"
From @juzim:
"Not daily but regularly. Lots of indie books or the 1$ base tier on HumbleBundle.
Amazon also has free books (but they are horrible).
Storybundle.com often includes books by authors like Neil Gaiman. I think even O'Reilly has some free offers."

Just to keep track your suggestions

[2016-12-16 22:58] niqdev opened #38 "Newsletter store"
@juzim The ebook downloaded from the newsletter can't be uploaded to drive or stored on firebase and break the script, I would suggest at least to change the newsletter feature to optional i.e. add `--newsletter` or `-n` as parameter

[code]

[2016-12-16 23:01] juzim commented on #38
Isn't this about the Gmail notification? Looks like the file was uploaded.
It also gets the file information from the claim page, so nothing was
changed there.

niqdev <notifications@github.com> schrieb am Fr., 16. Dez. 2016, 23:58:

[2016-12-16 23:01] niqdev opened #39 "config prod default"
The parameter `-c config/prod.cfg` should be the default unless specified to remove verbosity

[2016-12-16 23:02] juzim commented on #38
Ah, it's a typo *= instead of +=. Sorry, I can fix it, bit it might take to
next email.

bert <yeahbert@gmail.com> schrieb am Sa., 17. Dez. 2016, 00:01:

[2016-12-16 23:04] niqdev commented on #38
yep, sorry, the problem is not the upload but with firebase.
Just checked now and the ebook is on drive

[2016-12-17 11:27] niqdev commented on #39
Change also major version i.e. `3.x.x`

[2016-12-17 12:58] niqdev commented on #38
Just few questions about the newsletter
- is the spreadsheet updated every day now and the newsletter url added only if there is a "new" newsletter? if yes, can you update the code in the gist?
- there is a reason for why line [104](https://github.com/niqdev/packtpub-crawler/blob/master/script/spider.py#L104) to line [132](https://github.com/niqdev/packtpub-crawler/blob/master/script/spider.py#L13

[2016-12-17 15:14] juzim commented on #38
1. The script runs daily at 6 and checks if there is a mail with the label.
If there is no new newsletter, it does nothing. If there is one and it has
a free book URL, the spreadsheet is updated, of there is no URL (like now)
the spreadsheet is cleared. The gist is up to date.

2. HandleClaim is only called after a book was successfully claimed. There
is no reason to call packtpub.py or handleClai

[2016-12-17 20:46] juzim commented on #38
Link to online version of newsletter:
http://us11.campaign-archive2.com/?u=693897ba2220b83ddb807103a&id=744b167654&e=3cbd391791

raw: https://gist.github.com/juzim/7ecab774e2435a86c5948ce99e456581

On Sat, Dec 17, 2016 at 4:13 PM bert <yeahbert@gmail.com> wrote:

1. The script runs daily at 6 and checks if there is a mail with the label.
If there is no new newsletter, it does nothing. If there is

[2016-12-18 05:31] Mehran opened #42 "i got some errors after update"
[code]

[2016-12-18 15:36] avenantsoftware commented on #42
Same here, installed paramiko with: sudo pip install paramiko, but then I get a new error

Also packtpub has changed their website, there are no longer any new free books....

So this script wil probably not work anymore...

[2016-12-18 17:06] juzim commented on #42
What's the second error message?
Please give this a try: sudo -H pip install paramiko --ignore-installed

There is a promo on packtpub saying there will be new books in 2017. Let's
hope they are still easily accessible.

Avenant Software <notifications@github.com> schrieb am So., 18. Dez. 2016,
16:36:

[2016-12-18 18:26] niqdev commented on #38
Ok for all the points and thanks for the link, probably I didn't explain well point 2, I meant just refactor the method inside the `main`.
Anyway I will leave the issue open, if you agree, until we can't test again with the firebase option

[2016-12-18 18:31] niqdev commented on #42
@Mehran and @avenantsoftware , did the suggestion from @juzim with `sudo -H pip install paramiko --ignore-installed` fix the problem?

[2016-12-20 09:43] Mehran commented on #42
i got some error while install pipe

[code]

[2016-12-20 10:11] juzim commented on #42
This is caused by missing dependencies: http://stackoverflow.com/questions/22073516/failed-to-install-python-cryptography-package-with-pip-and-setup-py

I'll add it to the readme.

[2016-12-20 10:14] niqdev commented on #42
@juzim you are faster then me! As alternative you can use docker, building an image
[code]
and running the container
[code]
In this way you are sure to have a clear self-contained environment

[2016-12-20 10:16] niqdev commented on #42
The `cryptography` dependency is already included, try to run again `pip install -r requirements.txt

[2017-01-14 22:35] juzim commented on #34
New free books are out, scraping of daily offers and the weekly newsletter is still working!
\( ﾟヮﾟ)/

[2017-01-14 22:39] niqdev commented on #34
Yep! Latest version is `2.2.2`

[2017-01-14 22:39] #34 closed

[2017-01-24 04:41] avenantsoftware commented on #42
I was using relative path for config file, this is what caused errors... it works again by not using relative path
for example:
Not working:
python /home/xxx/packtpub-crawler/script/spider.py --config /home/xxx/packtpub-crawler/config/prod.cfg -t epub
Working:
python /home/xxx/packtpub-crawler/script/spider.py --config config/prod.cfg -t epub

[2017-01-26 11:40] lucymhdavies opened #44 "Book thumbnail would be useful"
I have this setup with IFTTT to send a Slack notification.

It would be nice to include the book's thumbnail as part of the notification.

[2017-01-26 12:19] juzim commented on #44
I don't think we should hotlink the images from packtpub and the local images would't be accessible without further configuration (server, ports etc).

The only solution I see is to parse the images separately and upload them to a shared folder somewhere. I'll look into it.

[2017-01-26 13:06] juzim commented on #44
Nevermind. Since we are already sending out the image URL, we can also pass it to ifttt I guess.
Added in https://github.com/niqdev/packtpub-crawler/pull/45, image URL is passed as {{Value3}}.

[2017-01-26 21:06] niqdev commented on #42
I will close the issue, if you have any other problems, fill free to re-open it.
Thanks

[2017-01-26 21:06] #42 closed

[2017-01-26 21:09] niqdev commented on #44
@juzim Thanks! I will update the version also to `2.2.3`

[2017-01-26 21:09] #44 closed

[2017-01-26 21:09] juzim commented on #21
This can already be handled by the ifttt notification.

[2017-01-26 21:09] juzim commented on #20
This can already be handled by the ifttt notification.

[2017-01-26 21:13] niqdev commented on #21
Obsolete!

[2017-01-26 21:13] #21 closed

[2017-01-26 21:13] niqdev commented on #20
Obsolete!

[2017-01-26 21:13] #20 closed

[2017-01-31 10:34] lucymhdavies opened #47 "Error attempting to claim book from newsletter"
[code]

It has successfully claimed the book from the newsletter already, but on subsequent days I'm getting the above error.

And it sends an IFTTT notification for the second one :(

[2017-01-31 10:37] lucymhdavies commented on #47
Updated to the latest code from `master` of this repo. Issue still present.

[code]

[2017-01-31 11:24] juzim commented on #47
Can confirm, I'll look into it. For a quickfix, create a file named "lastNewsletterUrl" containing "https://www.packtpub.com/packt/free-ebook/practical-data-analysis" in the config folder. This should stop the errors for now.

[2017-01-31 11:50] juzim commented on #47
Fixed in https://github.com/niqdev/packtpub-crawler/pull/48

[2017-01-31 11:51] lucymhdavies commented on #47
nice. thanks 👍

[2017-01-31 13:42] trancen opened #49 "Error when getting config file"
Updated to the latest version.

I have the following in a crontab, been using this for a few weeks working correctly. I noticed that I wasn't getting any new books so I ran the commend manually :

`python /home/david/packtpub-crawler/script/spider.py --config /home/david/packtpub-crawler/config/prod.cfg -t pdf --extras`

But I'm getting the following error.

[code]

But if I move to the packtpub-c

[2017-01-31 13:44] trancen commented on #47
Getting this error now after updating : on Version  - 2.2.4

[code]

[2017-01-31 13:55] juzim commented on #47
Yes, this is the same error. The fix should be merged tonight hopefully or you can change the line yourself.

[2017-01-31 13:57] trancen commented on #47
Sorry just noticed the comment above about created the "lastNewsletterUrl" that worked.

[2017-01-31 14:05] juzim commented on #49
There were some issues with relative paths in cron: https://github.com/niqdev/packtpub-crawler/pull/36/commits/ce03d4fc5cb14bd8f36671db81d6d443c2fc6324

Please try using relative paths (--config config/prod.cfg ).

[2017-01-31 18:56] niqdev commented on #47
Thanks @juzim , the problem above is fixed, but actually there is a bug, see the log below (I've hidden some variables/paths)

* upload 2 times the ebook from the newsletter with 2 different name (but the file is the same)
* I received 2 email, the first one is correct, the second again contains 2 link with 2 pdf but are the same

[code]

[2017-01-31 19:05] niqdev commented on #47
Actually I started the script again and it seems that the 3 book are identical and the daily ebook is ignored and I have 3 copy of the same book (newsletter). Moreover I checked on firebase and the data uploaded are mixed e.g. different filename but same author (of the newsletter).

[2017-01-31 19:09] niqdev commented on #49
@trancen using relatives path solves your problem? Thanks

[2017-01-31 19:17] juzim commented on #47
I think we have to reset the Packtpub instance before handling the newsletter but then this would have been broken for weeks. Could you check?

Also, could you comment out spider.py:22 so we can see the contents of each handled packtpub.info?

[2017-01-31 19:27] niqdev commented on #47
Yep,
so first log (see the author is wrong) and noticed now paths is empty
[code]

and second log
[code]

[2017-01-31 19:31] niqdev commented on #47
About the first question, we may have to reset everything before the claim, but is this the first newsletter since they reactiveted the free ebook? The other book seems correct, I checked also the logs on heroku

[2017-01-31 19:35] niqdev commented on #47
Also the field `url_source_code` is wrong

[2017-01-31 20:09] juzim commented on #47
Can you add `packtpub = Packtpub(config, args.dev)` to spider.py:123 and see if it fixes it? Sorry, but somehow the tests on my machine are broken...

[2017-01-31 21:05] juzim commented on #47
Did you by any chance delete the lastNewsletterUrl file? Because if the script tries to grab an already claimed newsletter book from the archive, it won't find it on the top position and overwrite the data for whatever book is currently on there.

We have to either check if the book was already claimed (would be a nice feature anyways) or find the book in the list by name/id/etc.

I'll try to look

[2017-01-31 21:41] niqdev commented on #47
I'm testing now, using docker, with the change that you suggested i.e. XXX I have the following error

[code]

[2017-01-31 21:43] juzim commented on #47
When we reset the whole packtpub we also loose the login information, so it won't work. I added a method to reset the packtpub.info but this won't solve the other issue.

[2017-01-31 21:49] niqdev commented on #47
We should probably just reset in Packtpub.py
[code]

[2017-01-31 21:50] niqdev commented on #47
No same problem, we lose the session

[2017-01-31 23:33] juzim commented on #47
I think the solution is to see if the book is already claimed before further processing it. The claim response page contains an error message that we can parse. I try to submit a patch tomorrow.

[2017-02-01 08:14] niqdev commented on #47
About your solution I just don't like the fact that we have to do another request, we should be able to reset all the fields before.
This is just my thought, but this is were mutable state sucks (we are also missing tests) and a purely functional approach would help us a lot. By the way, I'm not gonna rewrite anything..haha

[2017-02-01 08:18] juzim commented on #47
We don't need another request, the claim request returns the archive with
the error message (if the book was already claimed). So it's just another
check in get_claim that will throw an exception that prevents further
processing.

This has some small downsides but will fix your issue.

niqdev <notifications@github.com> schrieb am Mi., 1. Feb. 2017, 09:14:

[2017-02-01 12:36] juzim commented on #47
While I'm not a fan of flow control by exceptions, I think it works just fine in this case. Your code is solid and can surely handle quite some more beating before a rewrite would be necessary.

Fixed in https://github.com/niqdev/packtpub-crawler/pull/50

This fix looks for a specific error message on the claim result page (which curiously only exists for the newsletter, not the dailies) which sho

[2017-02-01 13:10] lucymhdavies commented on #47
How would that work if you're running with `--claimOnly`?

[2017-02-01 13:44] juzim commented on #47
The script would just claim the book and you can download it later manually or run it with a "downloadAll" parameter that only syncs the archive with the local folder. Notifications etc are handled on claim, not download.

[2017-02-01 19:09] niqdev commented on #47
@juzim , I'll keep monitoring until next newsletter. I'll create tag `2.2.5`.
About your solution with the local search is fine, about me, how you have seen, I haven;t much time in this period and working on other projects aswell. If you leave it there I may do it, just don;t know when.
Thanks

[2017-02-02 13:37] jsears opened #51 "Deprecated NoBookException references need removed"
From packtpub.py and spider.py
Else you get:
Traceback (most recent call last):
  File "script/spider.py", line 8, in <module>
    from packtpub import Packtpub
  File "/home/pclarity/packt-crawler2/script/packtpub.py", line 6, in <module>
    from noBookException import NoBookException
ImportError: No module named noBookException

[2017-02-02 13:43] juzim commented on #51
The file was deleted accidentally, no idea why I didn't caught it before.

pclarity <notifications@github.com> schrieb am Do., 2. Feb. 2017, 14:37:

[2017-02-02 14:55] juzim commented on #51
Fixed in https://github.com/niqdev/packtpub-crawler/pull/52

[2017-02-02 23:03] niqdev commented on #51
Thanks @juzim

[2017-02-02 23:03] #51 closed

[2017-02-10 20:25] trancen commented on #49
Ya it did.. I had to use the following on my crontab

`cd /home/david/packtpub-crawler/ && python script/spider.py --config config/prod.cfg -t pdf --extras
`

[2017-02-11 08:40] #49 closed

[2017-02-11 08:41] niqdev commented on #38
Already fixed. Obsolete

[2017-02-11 08:41] #38 closed

[2017-02-16 13:42] jaan143 opened #53 "video"
hi
i want to download video course from packtpub
can you plz add this option also ?
thanks

[2017-02-16 14:52] juzim commented on #53
Hi!

Can you point me to a free video on packtpub? Just to be sure: this script
only claims freely available content in promotions, it will not give you
access to normal books or videos for free.

jaan143 <notifications@github.com> schrieb am Do., 16. Feb. 2017, 14:42:

[2017-02-16 16:11] jaan143 commented on #53
packt publisher allow video courses on their mapt subscription
they allow to watch online only cant download
so you can make downloading script in python that will download course after giving login

[2017-02-16 16:57] lucymhdavies commented on #53
1. sounds out of scope of this tool
2. sounds against Packt ToS. if they wanted you to be able to download the videos, they would have made it easier to do so

[2017-02-16 17:07] niqdev commented on #53
This maybe help you https://github.com/soimort/you-get

[2017-02-16 17:08] niqdev commented on #53
If it works, can you please share a request example? Thanks

[2017-02-16 22:22] juzim commented on #53
I haven't bought any videos but this looks like video downloads are possible: https://www.packtpub.com/books/content/support-video

Login to your account at Packtpub.com.
Click on "My Account" and then click on the "My Videos" tab to access your videos.
Click on the "Download Now" link to start your video download.

I also think this has nothing to do with this script and can easily be solved by p

[2017-02-17 14:09] jaan143 commented on #53
hi
i checked supported site lists of this app
https://github.com/soimort/you-get

they dont have packtpub in their list

[2017-02-17 15:07] juzim commented on #53
So? I really don't think we can help you here. Why don't you ask packtpub
for help?

jaan143 <notifications@github.com> schrieb am Fr., 17. Feb. 2017, 15:09:

[2017-02-17 15:33] niqdev commented on #53
@jaan143 to be able to use [you-get](https://you-get.org/) I'm expecting that you look manually for the video url in the DOM and if supported somehow by the library you may need to add some extra header to handle the authentication

[2017-02-17 15:35] niqdev commented on #53
By the way, I'm not saying that what I suggested is the right tool for your needs, but you should have a look at something similar or fork that repo

[2017-02-23 15:23] juzim opened #57 "PR 27 changed behaviour of extras path"
I just saw that https://github.com/niqdev/packtpub-crawler/pull/27 changed the behavior of the path.extras value.

Before it was used on it's own equally to the download path:
`directory = self.__config.get('path', 'path.extras')`
now it's appended
` if self.__config.has_option('path', 'path.group'):

            folder_name = self.info['title'].encode('ascii', 'ignore').replace(' ', '_') + \

[2017-02-24 08:30] niqdev commented on #57
@juzim hi I can't test the new changes now..I'll merge the pr next week. Is it stable or require more changes? Thanks

[2017-02-24 10:25] juzim commented on #57
I have closed the PR.

I was hoping that @lszeremeta might take a look himself because I don't have much time at the moment.

When we decide that we want the extras path independent from the download path, I will include the changes in my PR. I also need this for the long awaited download all functionality that ~~will~~might be done soon.

[2017-02-27 17:15] lcorsini opened #58 "invalid syntax error"
I've placed my credentials in prod.cfg
when I run python script/spider.py --config config/prod.cfg --claimOnly I get this error:

Traceback (most recent call last):
  File "script/spider.py", line 7, in <module>
    from utils import ip_address, config_file
  File "/home/csllc4/packtpub-crawler/script/utils.py", line 16
    print '[-] GET {0} | {1}'.format(response.status_code, response.url)

[2017-02-27 17:36] lcorsini commented on #58
uhmm that error was from my natted virtual machine.
Tried from a VPS with public address and it's working

[2017-03-01 08:40] niqdev commented on #58
Hi, sorry for the late response, if is working, can I close the issue or do you have any other problem?
Thanks

[2017-03-02 06:58] lcorsini commented on #58
you can close, I cannot reproduce the error on any other machine than this (an archlinux VM) so probably is some problem here

[2017-03-02 09:10] #58 closed

[2017-03-06 13:10] juzim opened #59 "Captcha and DOM issues with new account page"
Packtpub apparently worked on their account page and it broke a few things (sometimes it works so it might be a A/B test). I'm not sure if I can find the time to fix everything right now.

[2017-03-06 22:37] niqdev commented on #59
I'll keep one eye as well on this, thanks

[2017-03-07 09:13] niqdev commented on #59
Actually there is this error:

[code]

[2017-03-08 19:27] niqdev commented on #59
@juzim seems to work now, can you verify if the credential problem was related to the out of service?
By the way the newsletter is not working now
[code]

[2017-03-15 18:53] frederikkunze commented on #33
I think I found a solution https://github.com/ahupp/python-magic#dependencies but where do I have to pass Magic(magic_file=...)?

[2017-03-16 13:55] frederikkunze commented on #23
Any news on this?

[2017-03-16 17:06] feeeper commented on #23
Sorry for the late answer. I made draft version for that feature but it's not very stable. If you really need it, I'll finish it in a week or two.

[2017-03-16 20:03] niqdev commented on #23
@feeeper that would be great! take your time :blush:
please, just verify that it doesn't introduce any regression on other features/integration
thanks

[2017-03-16 21:26] juzim commented on #23
I managed to adapt the script from a HumbleBundle downloader to work with packtpub: https://gist.github.com/juzim/8d0fb06feb5f58d06f07e360f85de7c0

If you don't need a way to download all books regularly but just want to start with a complete collection, this should work just fine. If you need help setting it up, you can find a lot of information in the original gist.

[2017-03-17 15:57] timbru31 opened #60 "Support for uploading to Nextcloud"
It would be very nice to have an automatic upload to Nextcloud (/ownCloud) instances.

- [ ] Examine if there is an existing API to upload files
- [ ] Research if Python libraries are available
- [ ] Since Nextcloud is a fork of ownCloud, maybe make a cross-compatible version

---
Disclaimer, I might take this issue and work on a PR - depending on the amount of spare time.

[2017-03-17 16:47] juzim commented on #60
Why don't you just download the files directly into the owncloud folder? If
you are running the script on the same machine, we could also add a hook to
make owncloud scan the folder after the download, so you don't need to
install the client (hooks would be a nice feature anyways).

I know that there are issues with symlinked folders and owncloud, also
headless client configuration might be compli

[2017-03-17 18:05] timbru31 commented on #60
Well my plan is to run the script on a server, so there is no ownCloud/Nextcloud client installed I could symlink/download files to.
That's why I thought uploading via the API (via e.g. app passwords)

[2017-03-18 10:39] niqdev commented on #60
Hi, I haven't try it but this is the official [client](https://github.com/owncloud/pyocclient)

[2017-03-26 21:43] CrazySerGo commented on #37
Hello niqdev.
Thanks for you nice script. What about adding parsing of Packtpub twitter account(https://twitter.com/PacktPub), they are publishing additional free books during the week.
As example for today: https://www.packtpub.com/packt/free-ebook/practical-data-analysis
Not sure do they have same in newsletters or not...

[2017-03-26 22:14] niqdev commented on #37
Hi @CrazySerGo!
I like your idea, how often is the offer? Did you see any "parsing" rule to filter the tweet, that is not the daily or the newsletter? How would you suggest to implement it, an external service like the newsletter? Would you be interested in adding this feature?

[2017-03-27 08:50] CrazySerGo commented on #37
Hi @niqdev.
I'm novice in python, but it looks very interesting to implement this feature. Thanks for idea. I'll check how newsletter filer is working, collect more data and try to prepare working model.

[2017-03-31 10:48] jaan143 opened #62 "video courses"
hi
can you please make code to download packtpub video courses which they allow to watch online only

plz

[2017-03-31 11:14] niqdev commented on #62
please have a look at #53

[2017-03-31 11:14] #62 closed

[2017-03-31 11:23] niqdev commented on #53
The downloading of video is out of scope of this project.

[2017-03-31 11:23] #53 closed

[2017-04-02 08:52] niqdev commented on #47
Just to keep track, it needs further investigation.
Anyway sometimes the script is able to download the newsletter, while for example this week there is this error
[code]

[2017-04-02 08:56] juzim commented on #47
I bet they are doing a/b tests which makes it hard to reproduce. I think
claiming still works despite the error, can you confirm?

[2017-04-02 09:06] niqdev commented on #47
No, unfortunately the claiming is not working too.

[2017-04-02 09:10] niqdev commented on #47
The div `promo-landing-book-picture` doesn't  exists

[2017-04-02 10:25] juzim commented on #47
That's it?! I'll try to fix it soon but it might take till next week,
sorry.

niqdev <notifications@github.com> schrieb am So., 2. Apr. 2017, 11:10:

[2017-04-02 12:36] oujesky opened #63 ""IndexError: list index out of range" while fetching newsletter"
Since this week's newsletter, it started to throw the following exception. My guess is, that the structure of the landing page changed somewhat.

[code]

[2017-04-02 13:28] juzim commented on #63
Duplicate of https://github.com/niqdev/packtpub-crawler/issues/47

[2017-04-02 13:57] niqdev commented on #63
Thanks, yep the page is different

[2017-04-02 13:57] #63 closed

[2017-04-09 10:56] mkarpiarz commented on #47
Looks like some of the divs has been renamed on the newsletter's landing page. I compared the page for an older book:
[code]
with the current one:
[code]
and came up with this hotfix:
https://github.com/niqdev/packtpub-crawler/compare/master...mkarpiarz:fix_newsletter_divs
I haven't tested email notifications yet, so I'm not sure how the description would look like, but claiming a newsletter ebook

[2017-04-09 17:47] juzim commented on #47
That would be great, thanks!

[2017-04-09 18:42] CrazySerGo commented on #47
Hi Guys,
I'm creating google script that parsing PacktPab tweets(it comes from @juzim google script). I'm not sure but there is a chance that all books from newsletters also will be published on their Twitter and no needs to fix it :) joking.
It's not finished - should exclude duplicates and check does link still available or not. If you have time, please look on output if it's fine for crawler or

[2017-04-09 19:16] juzim commented on #47
The link doesn't work for me, can you create a pull request please?

Also, while there are tons of free books on the feed, they repeat a lot so we have to make sure the duplication check works.

[2017-04-09 19:42] mkarpiarz commented on #47
Is there a reason for the newsletter spreadsheet being empty even though this week's free ebook is still available under https://www.packtpub.com/packt/free-ebook/what-you-need-know-about-angular-2?

[2017-04-09 19:58] niqdev commented on #47
@mkarpiarz before merge the PR can you please confirm that the email/notifications are still working? Thanks

[2017-04-09 21:13] juzim commented on #47
@mkarpiarz I removed it to prevent error messages until the issue is fixed

[2017-04-10 22:53] mkarpiarz commented on #47
@juzim - that's fine for now since there is an option to self-host the file.

I haven't tested email notification yet, @niqdev, but I printed out all the variables in this `__parseNewsletterBookInfo` method and I noticed this in the output:

[code]
This is because the code from:
https://github.com/niqdev/packtpub-crawler/blob/e604cc1138c5934f7cbe8c210ce1fa6f2caa80b3/script/packtpub.py#L101
is extr

[2017-04-10 23:34] mkarpiarz opened #65 "[Newsletter] Problems with parsing extracting the book title from an url"
As I mentioned in https://github.com/niqdev/packtpub-crawler/issues/47#issuecomment-293101790, the newsletter parser gets the book title from the url behind the image cover.
https://github.com/niqdev/packtpub-crawler/blob/e604cc1138c5934f7cbe8c210ce1fa6f2caa80b3/script/packtpub.py#L101
This will work fine if the link on the landing page points to the main book page like it was the case here: https

[2017-04-11 17:49] niqdev commented on #65
I would suggest to go for the `h1` tag and if for some reason is missing use the other as fallback, maybe removing with a regexp the numbers, the output probably will not be nice but at least it should work

[2017-04-13 09:36] jaan143 opened #66 "mapt books"
hi
i have mapt subscription account and they have many packt books to watch online
but there is any solution to download these books ?

[2017-04-24 23:57] tuxskar commented on #23
I have tried the gist but seems it is missing the nodes variable, I have added them back and also added some extra functionalities in order to create one folder for each book in your library, downloads the zip files and the preview pictures.

This is the link just in case someone wants to avoid download the books on his own library:
https://gist.github.com/tuxskar/8fa64300ee02693b05f295337fff607c

[2017-04-25 15:19] mehranexpert commented on #66
yes we love this future .

[2017-04-30 18:11] markusrudolf opened #67 "How to open browser for googledrive verification?"
Hi, the crawler runs on my headless raspi via SSH, so no X Session or anything. How am I supposed to "open a browser" and "enter verfication code" in the process? Any hints?

[2017-04-30 18:24] niqdev commented on #67
Hi,
actually I don't remember now, it should prompt or print on console a url, if yes just copy and paste the url and do it manually, this step is mandatory only for the first time to generate `auth_token.json`.
Alternatively you can do it from your laptop and copy the file directly.
Let me know if it works,
Thanks

[2017-04-30 18:39] markusrudolf commented on #67
Actually it doesn't print an URL (that would be easy) but just prints "open browser" and then wants the verification code.
![screenshot 2017-04-30 20 39 13](https://cloud.githubusercontent.com/assets/928381/25567020/26bba888-2de5-11e7-8b5c-d378ff312cd8.png)

[2017-04-30 19:04] niqdev commented on #67
Sorry I didn't remember, so yes you have to run the script the first time on your local machine, then it will open the browser automatically and then you will have to scp the file.
This is due to the python Drive library.

[2017-04-30 19:13] markusrudolf commented on #67
OK. I give it a shot, but I'm afraid my Ubuntu is already on Python 3.XX. Is it maybe possible to just put a debug line in the code that prints the URL on the console? I'm not so fluent in python unfortunately.

Thanks for pointing it out anyways

[2017-04-30 19:19] niqdev commented on #67
You can have both versions installed at the same time, usually on ubuntu are both already installed.
Let me know if you succeed or you need more help

[2017-05-01 11:43] markusrudolf commented on #67
Got it running so far.

[2017-05-01 11:43] #67 closed

[2017-05-13 20:47] AwdotiaRomanowna opened #68 "ImportError: cannot import name Client"
Hi,
I cannot run the script because of import error:
python script/spider.py -c config/prod.cfg -t pdf --notify None
Traceback (most recent call last):
  File "script/spider.py", line 12, in <module>
    from notify import Notify, SERVICE_GMAIL, SERVICE_IFTTT, SERVICE_JOIN, SERVICE_PUSHOVER
  File "/home/boria/repos/test/packtpub-crawler/script/notify.py", line 5, in <module>
    from notification

[2017-05-15 08:55] niqdev commented on #68
Hi, can you please confirm you are using python 2.x and you run `pip install -r requirements.txt`? thanks

[2017-05-23 22:05] brechtm opened #69 "Heroku Scheduler instructions"
It makes sense to use the Heroku Scheduler add-on as it requires much less dyno hours since it doesn't run continuously like the clock. The README is not clear on how to use the add-on however. Some questions:

* Is it enough to just add the Scheduler add-on to the Heroku app?
* The [Heroku docs](https://devcenter.heroku.com/articles/scheduler) mention that the Scheduler occasionally can miss the

[2017-05-24 16:03] niqdev commented on #69
Hi,
actually I suggest you to just follow the [commands](https://github.com/niqdev/packtpub-crawler#heroku), you don't need to setup any add-on manually (as far as I remember).

The command `heroku ps:scale clock=1` will start the scheduler for you and internally what runs is [scheduler.py](https://github.com/niqdev/packtpub-crawler/blob/master/script/scheduler.py)

I think the missing execution i

[2017-05-24 18:30] brechtm commented on #69
Following the commands sets up a clock app which runs 24/7 and thus leaves the free dyno unavailable for other things. It is not using the Heroku Scheduler by default.

I have now set up the Heroku Scheduler add-on [as described here](https://stackoverflow.com/a/38000618/438249) and set it to run `python script/spider.py` (+ options) once daily. This used the free dyno only a couple of minutes eac

[2017-05-24 19:39] niqdev commented on #69
Yep, I got it now, thanks. If you want feel free to update the readme with your configuration then.

[2017-05-24 19:39] #69 closed

[2017-05-26 09:22] lucymhdavies opened #70 "I suppose this is the end of packtpub-crawler?"
https://www.packtpub.com/packt/offers/free-learning

<img width="1069" alt="screen shot 2017-05-26 at 10 21 35" src="https://cloud.githubusercontent.com/assets/1116529/26488916/2992e450-41fd-11e7-82cc-2ef02138e40a.png">

[2017-05-26 09:38] juzim commented on #70
They have done it before as part of some a/b tests, hopefully they revert it back after the stats drop (I don't think people manually check the site every day).

Maybe we can contact them, since this script turns a daily chore into a pleasant experience and all their free books are already downloadable from other sources anyways.

But otherwise, [we can't do much about it](https://www.youtube.com/

[2017-05-26 12:59] deliussed commented on #70
oh no! just started implementing this script with the packtpub Alexa skill yesterday! How frustrating!

[2017-05-31 02:49] hactrox commented on #68
It seems you installed the wrong package `pushover` . You can run `pip uninstall pushover`, and then run `pip install -r requirements.txt`.

[2017-06-01 10:36] juzim commented on #70
I have added the book title and the claim URL in the error messages, this way we can at least check if the book is interesting enough to claim it manually.

Still, this is a really stupid move, I immediately lost all interest in visiting packtpub :/

[2017-06-01 10:39] lucymhdavies commented on #70
That's a useful feature at least. Shame we can't automatically claim them anymore :(

[2017-06-02 11:00] lucymhdavies commented on #70
going to close this, as https://github.com/niqdev/packtpub-crawler/pull/71 has now been merged

[2017-06-02 11:33] niqdev commented on #70
I have created a new [branch](https://github.com/niqdev/packtpub-crawler/commits/feature/recaptcha) with a proposal, I don't know if is worth it spend time.

I have fixed the claim, looking at the [docs](https://developers.google.com/recaptcha/docs/display) the `recaptcha-token` field should always be available in the page, but needs to be validated by the client and can be used only once. If you

[2017-06-05 23:39] jerrywang1974 opened #72 "recaptcha cause daily free ebook acquisition failure."
Hi ,
recently packtpub change a little bit for getting daily free ebook and need to pass reCAPTCHA to acquire the free ebook, and it cause the daily job failure, you need manually pass reCAPTCHA and get ebook in your account and using download all ebook(-dall) to get ebook, does it possible to improvement on this? Thanks!

[2017-06-06 11:31] vpontin opened #73 "Crash"
Hi!
I'm trying to use this crawler but i'm having only errors.

I use Python 2 and 3 (using pylauncher) and even after running the requeriments txt file:
`py -2 -m pip install -r requirements.txt`

I've got this error when running the script (`py -2 script/spider.py --config config/prod.cfg -t pdf --extras`):

https://gist.github.com/vpontin/cfa2e42556624a3a5b9252351bf02f72

Using Win10 Creators u

[2017-06-06 15:55] niqdev commented on #72
Hi, duplicate issue #70 thanks

[2017-06-06 15:55] #72 closed

[2017-06-06 16:12] niqdev commented on #73
hi, this might help #33 , keep in mind that the reCaptha is blocking the script at the moment

[2017-06-07 16:56] trancen opened #74 "ImportError: No module named onedrivesdk"
Getting the ImportError: No module named onedrivesdk error even though I have it installed.

[code]

[code]

[2017-06-07 17:12] juzim commented on #74
Are you using a different python version for pip than for running the script? It looks like pip uses 3.5, how do you call the script?

[2017-06-07 18:51] trancen commented on #74
Bingo that was it, I had not noticed the 3.5 install.. normally I just do a pip not pip2.7 and it installs by default 2.7.  I did a forced pip2.7 and that worked. Problem resolved.

[2017-06-07 18:51] #74 closed

[2017-06-07 18:52] trancen commented on #74
Bingo that was it, I had not noticed the 3.5 install.. normally I just do a pip not pip2.7 and it installs by default 2.7. I did a forced pip2.7 and that worked. Problem resolved.

[2017-06-20 06:54] millionerrr opened #75 "An issue with getting info self.info['url_claim']. DOM has been changed"
[code]

[2017-06-20 13:10] icepaule opened #76 "IndexError: list index out of range"
Hello,

having the below issue and hoping that you could give me a little help.

Cheers
Marcus
[*] 2017-06-20 15:05 - fetching today's eBooks
[*] configuration file: /opt/packtpub-crawler/config/prod.cfg
[*] getting daily free eBook
[*] fetching url... 200 | https://www.packtpub.com/packt/offers/free-learning
[*] fetching url... 200 | https://www.packtpub.com/packt/offers/free-learning
[-] <type '

[2017-06-20 13:55] niqdev commented on #70
Since we have duplicated issues #75 #76 related to this one I will re-open it.

The problem is related to the captha and the error looks like this
[code]

There is a a feature branch with a proposal, but it could be a black hole!

[2017-06-20 13:56] niqdev commented on #76
@icepaule thanks, please look at #70

[2017-06-20 13:56] #76 closed

[2017-06-20 13:57] niqdev commented on #75
@millionerrr thanks, please look at #70

[2017-06-20 13:57] #75 closed

[2017-06-20 18:02] millionerrr commented on #75
@niqdev thank a lot

[2017-06-20 18:14] millionerrr commented on #70
@niqdev really there is a problem with captcha, still, it doesn't work. Maybe implement it by using two steps with opened the page? as one more option

[2017-06-22 14:40] niqdev commented on #70
@develsites yep that was the idea/proposal in the feature branch, 2 step process solving the captcha manually via email for example, but yes at the moment the script is broken and we can't do much

[2017-06-22 14:43] lucymhdavies commented on #70
Honestly, if you have to solve the captcha manually anyway, then you may as well just go to https://www.packtpub.com/packt/offers/free-learning and claim it manually.

Packtpub-crawler is still useful for notifying what the latest book is though :)

[2017-07-17 18:02] Nightreaver commented on #70
i had no captcha today... is it an error or did they remove it? Claiming still worked

[2017-07-17 19:08] niqdev commented on #70
umh, something changed for sure, the reCAPTCHA moved to the bottom-right of the page.
Were you able to download the book with the script?

[2017-07-17 19:19] tpoindessous commented on #70
Hi

I didn't use the script but I was able to get the book manually without
validating reCAPTCHA.

Thanks.

Le lun. 17 juil. 2017 à 21:09, niqdev <notifications@github.com> a écrit :

[2017-07-18 07:57] NikolasMiz commented on #73
reCaptha has been removed

[2017-07-18 09:16] brechtm commented on #70
The CAPTCHA has not yet returned, but the script fails to claim the book with `IndexError('list index out of range',)`.

[2017-07-18 13:52] ApCoder123 opened #77 "Errors upon executing script"
I have cloned the repository and installed all of the dependencies, but I am getting several errors upon running the following in command line:
`>>C:\Python27\python.exe C:\Users\****\*******\my_ebooks\PACKTPUB_CRAWLER\packtpub-crawler\script\spider.py --config C:\Users\****\*******\my_ebooks\PACKTPUB_CRAWLER\packtpub-crawler\config\prod_example.cfg`

The Errors I'm getting are:
[code]
I'm using t

[2017-07-18 18:38] niqdev commented on #77
Hi, have a look at #33

[2017-07-18 18:38] #77 closed

[2017-07-24 16:42] Nightreaver commented on #70
yeah, you dont have to "do" anything for the captcha to work... maybe it detects the browser or something?
For me, using chrome, it just works. no box, nothing, but blocking google prints the error "no captcha" or whatever

its new kind of captcha from google?

[2017-07-25 18:21] juzim commented on #70
Yes, they seem to analyze things like mouse movement patterns. It's called
"invisible recaptcha" and it's really interesting when you are into machine
learning.

[2017-08-06 22:42] LeftHandFreeStudio opened #78 "Collection of books from newsletter"
Has anyone downloaded some of this books? I really would like to read some of them! Thanks in advance! Sorry for making it this way.

[2017-08-07 06:47] juzim commented on #78
You have to download the books yourself when they are available, we can not upload or send you any files for obvious legal reasons.

[2017-08-07 10:39] #78 closed

[2017-08-15 08:50] justingiffard opened #79 "Possible work around?"
I came across this repo. I am not sure whether or not it works (sadly won't work for what I'm wanting to do as it uses Selenium) but maybe its worth looking in to?

https://github.com/eastee/rebreakcaptcha

[2017-08-19 09:02] niqdev commented on #79
Thanks for sharing

[2017-08-22 22:23] igbt6 commented on #70
Hello, we have managed to solve the captcha to make my script-grabber working, You can use the same solution or check my solution at: https://github.com/igbt6/Packt-Publishing-Free-Learning
Regards!

[2017-08-23 08:39] niqdev commented on #70
@igbt6 That's awesome, thanks a lot for sharing with us!

[2017-10-06 15:07] katka-n commented on #70
@niqdev I managed to get my Packt grabber working by using Selenium in headless mode AND setting useragent to Chrome (default for headless Chrome is, if I recall correctly, WebdriverChrome).

[2017-10-06 18:17] niqdev commented on #70
@katka-n great! is it easy to integrate with the current project?

[2017-10-06 18:24] niqdev commented on #70
[Hacktoberfest] Anyone interested in integrating [Anti Captcha](https://anti-captcha.com/mainpage) or other solutions? Thanks

[2017-10-06 18:59] katka-n commented on #70
@niqdev I am not that experienced but I will try to do so, if I succeed I will create a pull request ;)

Update: I got the basic downloading to the user's account working, but the script stops at downloading a file to the drive.

[2017-10-07 11:31] q1177092 opened #80 "list index out of range | spider.py@97"
Hi,

I use packtpub-crawler from master

[code]

but I now got list index out of range | spider.py@97 error:

[code]

Can you help me?

[2017-10-07 12:07] niqdev commented on #80
Hi, duplicated issue, please refer to #70

[2017-10-07 12:07] #80 closed

[2017-10-11 14:11] xzl2021 opened #81 "ImportError: No module named oauth2client.client"
I used `pip install -r requirements.txt` first.
[code]

And setup my prod.cfg file.
But when I used `python script/spider.py -c config/prod.cfg --claimOnly` an error occured.

[code]

Why? Please give me some advice. Thank you.
P.S. I'm using `Ubuntu 16.04 LTS`. Kernel is `4.13.5-041305-generic`

[2017-10-11 14:41] xzl2021 commented on #81
`pip install oauth2client==2.2.0` resolved my problem. Thank you.

[2017-10-11 14:48] xzl2021 opened #82 "list index out of range | spider.py@97"
I have some problems. Is it same with #63 or #47 ?
[code]

[2017-10-11 19:08] niqdev commented on #81
Great, I suggest anyway to use something like `virtualenv` to avoid this kind of problems

[2017-10-11 19:08] #81 closed, assigned to nobody

[2017-10-11 19:09] niqdev commented on #82
Thanks, is a duplicate of #70

[2017-10-11 19:09] #82 closed, assigned to nobody

[2017-10-26 05:19] tjnel commented on #70
here is a python solution for the recaptcha  https://github.com/ecthros/uncaptcha

[2017-10-26 05:19] tjnel commented on #79
https://github.com/ecthros/uncaptcha is another option.

[2017-10-27 17:26] niqdev commented on #70
Thanks @tjadanel , any interest in integrate it?

[2017-11-26 01:59] doraeball22 opened #83 "error on script.py line 97"
Download FREE eBook every day from www.packtpub.com
@see github.com/niqdev/packtpub-crawler

[*] 2017-11-26 01:56 - fetching today's eBooks
[*] configuration file: /packtpub-crawler/config/prod.cfg
[*] getting daily free eBook
[*] fetching url... 200 | https://www.packtpub.com/packt/offers/free-learning
[*] fetching url... 200 | https://www.packtpub.com//packt/offers/free-learning?login=1
[-] <typ

[2017-11-26 12:31] niqdev commented on #83
Duplicate issue, please refer to #70

[2017-11-26 12:31] #83 closed, assigned to nobody

[2018-01-21 09:55] justingiffard commented on #70
I see that they have removed the recaptcha batch from the site? could this mean that recaptcha is removed?
I tried running the script and got `list index out of range` which either means that recaptcha is still in place or that the structure of the site has changed. Will investigate though. If you don't hear from me either I haven't gotten anywhere or recaptcha is still in place

[2018-01-21 10:44] luk6xff commented on #70
@justingiffard  There is still reCaptcha used by Packt, They just switched to so called [invisible reCaptcha](https://developers.google.com/recaptcha/docs/invisible). Use my script instead: https://github.com/igbt6/Packt-Publishing-Free-Learning which will do the work for you ; )

[2018-01-21 11:14] justingiffard commented on #70
@igbt6 thanks but you make use of a service which is not free (albeit cheap)

[2018-03-31 08:44] Pluto1010 commented on #66
I've started writing a tool using Selenium. I can login, grep the TOC with all links and open all that links. But they have a request rate limit in place that makes it a little bit difficult. I have not the time to fix that right now. If anyone is interessted leave me message here and I will make it available on github. I've used ruby with selenium-webdriver gem and Chrome. It works so far.. The i

[2018-07-11 03:13] MinhKMA opened #84 "Invalid credentials specified."
I'm having this problem, could you help me,pls ?

[code]

[2018-07-11 17:31] niqdev commented on #84
Are you credentials correct? `Invalid credentials specified`
If you solve that anyway, it will be blocked by #70

[2018-07-11 17:31] #84 closed, assigned to nobody

[2018-07-11 17:32] #73 closed

[2018-10-24 02:48] cakhanif opened #85 "lib crash"
cryptography 1.6 has requirement pyasn1>=0.1.8 but oauth2client 0.4.11 has requirement pyasn1>=0.1.7

[2018-10-24 15:03] niqdev commented on #85
Hi, PRs are welcome but keep in mind that is blocked by #70
Thanks

[2018-10-25 08:12] cakhanif commented on #85
oh no, I just found a way not to check packtpub's free offer every morning

[2018-10-25 08:12] #85 closed, assigned to nobody

[2020-07-31 13:33] hemangbhavasar opened #87 "Issue in line print '[-] GET {0} | {1}'.format(response.status_code, response.url)"
Hi,

When  I tried to run the command I am getting an error "print '[-] GET {0} | {1}'.format(response.status_code, response.url)". After it I analysis and fund the issue is in "packtpub.py" file in line 38.

Any solution for it?

[2020-08-12 13:47] niqdev commented on #87
Please have a look at #70